# Игнорировать скомпилированные файлы и бинарники
*.exe
*.o
*.obj

# Игнорировать папки сборки
bin/
obj/

# Игнорировать файлы проекта Code::Blocks (если не нужны)
*.cbp
*.depend
*.layout
MULR.docx
laba1/Prim.docx
laba1/BankAccount.cpp
laba1/report.docx
